.order-items{
    display: grid;
    grid-template-columns: 0.5fr 2fr 1fr 1fr 1fr ;
    align-items: start;
    gap: 30px;
    border: 1px solid #d25175;
    padding: 20px;
    margin: 30px 0px;
    font-size: 14px;
    color: #505050;
}

.order-item-product, 
.order-item-name,
.order-item-id{
    font-weight: 600;
}

.order-item-id{
    margin-bottom: 20px;
}

.order-item-name{
    margin-top: 30px;
    margin-bottom: 5px;
}

.order-item-address{
    margin-bottom: 10px;
}

.order-items-sel-but{
    display: flex;
    flex-direction: column;
    gap: 100px;
}

.order-items select{
    background-color: #ffe8e4;
    border: 1px solid #d25175;
    width: max(10vw, 120px);
    padding: 10px;
    outline: none;
}

.order-items button{
    outline: none;
    border: none;
    background-color: black;
    color: white;
    padding: 10px;
    cursor: pointer;
    align-self: flex-start;
}

.disabled{
    opacity: 0.55;
    cursor: auto !important;
}

@media (max-width: 1000px){
    .order-items{
        font-size: 12px;
        grid-template-columns: 0.5fr 2fr 1fr;
        padding: 15px 8px;
    }

    .order-items select{
        padding: 5px;
        font-size: 12px;
    }

    .order-items img{
        width: 40px;
    }

    .order-items-sel-but{
        flex-direction: row;
        justify-content: space-between;
    }

}