#page-header{
    background-image: url("/public/image/banner/b17.png");
    background-size: cover;
    width: 100%;
    height: 30vh;
  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
  
#page-header h2,
#page-header p{
    color: #222;
}