#feature{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

#feature .fe-box{
    width: 180px;
    text-align: center;
    padding: 25px 15px;
    box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.2);
    margin: 15px 0;
}

#feature .fe-box:hover{
    box-shadow: 10px 10px 54px rgba(70, 62, 221, 0.2);
    border: 1px solid #ebe3f3;
}

#feature .fe-box h6{
    display: inline-block;
    padding: 9px 8px 6px 8px;
    line-height: 1;
    background-color: #d1ecf2;
}

#feature .fe-box:nth-child(2) h6{
    /*background-color: #cdebbc;*/ 
    background-color: #fddde4;
  }
  
  #feature .fe-box:nth-child(3) h6{
    /*background-color: #d1e8f2;*/ 
    background-color: #d1f2da; 
  
  }
  
  #feature .fe-box:nth-child(4) h6{
    /*background-color: #cdd4f8;*/ 
    background-color: #d1def2; 
  }
  
  #feature .fe-box:nth-child(5) h6{
    /*background-color: #fedbf6;*/ 
    background-color: #cdd4f8; 
  }
  
  #feature .fe-box:nth-child(6) h6{
    background-color: #fff2e5; 
  }
  
  #feature .fe-box img{
    width: 100%;
    margin-bottom: 10px;
  }